.sign-container {
  display: flex;
  flex-direction: row;
}

.sign-form-container {
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 40px;
}

.sign-container-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
